.clients__title {
  margin-bottom: 50px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  @include centred();
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  @include transition(border);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__logo {
  fill: #afb1b8;
  @include transition(fill);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
