.work {
  padding-top: 0;
}
.work__title {
  margin-bottom: 50px;
}

.card-thumb {
  position: relative;
}

.card-thumb__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;

  @include font($fw: 700, $fz: 14px, $lh: 16px, $tt: uppercase);
  text-align: center;

  color: var(--third-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
